* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ffffff;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav .logo img {
  width: px;
  height: 60px;
}

nav .menu ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.btn {
    background-color: #30b868;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 32px;
}
