* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ffffff;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav .logo img {
  width: 139px;
  height: 60px;
}

nav .menu ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.btn {
    background-color: #30b868;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 32px;
}

.banner-section {
    background-image: url('assets/hero-bg.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.access-badge {
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4A9C68;
}

.badge-dot {
    width: 8px;
    height: 8px;
    background-color: #4A9C68;
    border-radius: 50%;
    margin-right: 8px;
}

h1 {
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 1.2;
}

h1 .not-just {
    color: #4A9C68;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.8;
}

.cta-buttons button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.btn-primary {
    background-color:  #30b868;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#notes {
    padding: 50px 120px;
    text-align: center;
}

#notes .notes-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
#notes .notes-heading h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #001931;
}
#notes .notes-heading p {
    font-size: 16px;
    color: #627382;
}

#notes .notes-box {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

#notes .notes-card {
    flex: 1 1 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
#notes .notes-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F95555;
  padding: 10px;
  margin-bottom: 15px;
}
#notes .notes-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
#notes .notes-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}







